@tailwind base;
@tailwind components;
@tailwind utilities;

/* .timelineOutline {
  width: 250px;
  min-width: 150px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;
  align-content: stretch;
  background-color: theme("colors.content2");
} */
